# Collections

Create a list with 10 numbers (1 - 10)

In [45]:
ls =range(1,10)

Change the second number to 70

In [46]:
ls[1] = 70

In [47]:
ls

[1, 70, 3, 4, 5, 6, 7, 8, 9]

add 3 more numbers to the list

In [48]:
ls += [44,55,66]

In [49]:
ls

[1, 70, 3, 4, 5, 6, 7, 8, 9, 44, 55, 66]

remove the 4th element using pop

In [50]:
ls.pop(3)

4

remove the 4th element using remove()

In [51]:
ls.remove(ls[3])

select first 4 elements

In [52]:
ls[:4]

[1, 70, 3, 6]

select last 3 elemenents

In [53]:
ls[len(ls) - 3:]

[44, 55, 66]

insert 3 new elements after the 3rd element

In [54]:
ls[3:3] = [2,3,4]

In [64]:
ls[14:14]=[2]

Change every 3rd element to 20

In [67]:
ls[::3]=[20]*5

In [68]:
ls

[20, 70, 3, 20, 3, 4, 20, 7, 8, 20, 44, 55, 20, 88, 2]

Sort the list

In [69]:
ls.sort()

In [70]:
ls

[2, 3, 3, 4, 7, 8, 20, 20, 20, 20, 20, 44, 55, 70, 88]

reverse the list

In [71]:
ls.reverse()

In [72]:
ls

[88, 70, 55, 44, 20, 20, 20, 20, 20, 8, 7, 4, 3, 3, 2]

In [73]:
import random

In [74]:
x=random.randint(1,100)

In [75]:
x

44

###    Exercise 

Write a simple script 
takes as an input a number - n
create a list with n random numbers between 1 and 100
count how many numbers are bigger that the avearge

In [107]:
x=raw_input('enter num:')
ls = []
sum = 0
for i in xrange(int(x)):
    num=random.randint(1,100)
    ls += [num]
    sum+=num
print ls
avg = sum / int(x)
for i in ls:
    if i > avg:
        print i

enter num:12
[21, 40, 56, 28, 65, 47, 52, 35, 48, 72, 97, 92]
56
65
72
97
92

## Dictionaries

In [90]:
machines = {'user100': 'yogi',
               'user1'  : 'booboo',
               'user2'  : 'rupert',
               'user3'  : 'teddy',
               'user4'  : 'care',
               'user5'  : 'winnie',
               'user6'  : 'sooty',
               'user7'  : 'padders',
               'user8'  : 'polar',
               'user9'  : 'grizzly',
               'user10' : 'baloo',
               'user11' : 'bungle',
               'user12' : 'fozzie',
               'user13' : 'huggy',
               'user14' : 'barnaby',
               'user15' : 'hair',
               'user16' : 'greppy'}

add a new user

In [101]:
machines['user40']='compy'

change user2 computer name to 'comp'

In [88]:
machines['user2'] = 'comp'

remove user14

In [92]:
del machines['user14']

print the machines starting with 'b'

In [100]:
for i in machines:
    if machines[i].startswith('b'):
        print machines[i]

booboo
baloo
bungle