# Collections

Create a list with 10 numbers (1 - 10)

Change the second number to 70

add 3 more numbers to the list

remove the 4th element using pop

remove the 4th element using remove()

select first 4 elements

select last 3 elemenents

insert 3 new elements after the 3rd element

Change every 3rd element to 20

Sort the list

reverse the list

Create a list with the numbers 1-10 five times (50 elements)

display the items from index 4 to index 12

Display every 3rd item

Display every 3rd item in reverse order

create a tuple with 2 strings

Swap the strings in the tuple using one line of code

Create 2 sets from the strings : 'hello world' , 'good day'

remove the spaces from both sets

Test all sets operations between s1 and s2 (union , intersection , diff , symetric diff)

In [1]:
import random

In [2]:
x=random.randint(1,100)

In [3]:
x

81

###    Exercise 

Write a simple script 
takes as an input a number - n
create a list with n random numbers between 1 and 100
count how many numbers are bigger that the avearge

## Dictionaries

Using the following dict:

In [1]:
d1= {1: [10,20,30], 2: [150,60,70] , 3:[100,200,300]}

reverse the list on the first item and sort the list on the second item

In [4]:
machines = {'user100': 'yogi',
               'user1'  : 'booboo',
               'user2'  : 'rupert',
               'user3'  : 'teddy',
               'user4'  : 'care',
               'user5'  : 'winnie',
               'user6'  : 'sooty',
               'user7'  : 'padders',
               'user8'  : 'polar',
               'user9'  : 'grizzly',
               'user10' : 'baloo',
               'user11' : 'bungle',
               'user12' : 'fozzie',
               'user13' : 'huggy',
               'user14' : 'barnaby',
               'user15' : 'hair',
               'user16' : 'greppy'}

add a new user

change user2 computer name to 'comp'

remove user14

print the machines starting with 'b'